::-webkit-input-placeholder {
	color: inherit;
	opacity: 1;
	-webkit-transition: opacity .3s !important;
	transition: opacity .3s !important;
}

:-moz-placeholder { /* Firefox 18- */
	color: inherit;
	opacity: 1;
	-moz-transition: opacity .3s !important;
	transition: opacity .3s !important;
}

::-moz-placeholder { /* Firefox 19+ */
	color: inherit;
	opacity: 1;
	-moz-transition: opacity .3s !important;
	transition: opacity .3s !important;
}

:-ms-input-placeholder {
	color: inherit;
	opacity: 1;
	-ms-transition: opacity .3s !important;
	transition: opacity .3s !important;
}

/* IE 10+ */
*:focus::-webkit-input-placeholder {
	opacity: 0;
}

*:focus:-moz-placeholder {
	opacity: 0;
}

/* FF 4-18 */
*:focus::-moz-placeholder {
	opacity: 0;
}

/* FF 19+ */
*:focus:-ms-input-placeholder {
	opacity: 0;
}

input[type='text'],
input[type='email'],
input[type='url'],
input[type='password'],
input[type='search'],
input[type='number'],
input[type='tel'],
input[type='range'],
input[type='date'],
input[type='month'],
input[type='week'],
input[type='time'],
input[type='datetime'],
input[type='datetime-local'],
input[type='color'] {
	@extend %transit;
	width: 100%;
	outline: none;
	border: 1px solid #eee;
	border-radius: 0;
	padding: 3px 20px;
	height: 62px;
}

select {
	@extend %transit;
	padding: 3px 20px;
	height: 62px;
	max-width: 100%;
	width: 100%;
	outline: none;
	border: 1px solid #eee;
	border-radius: 0;
	background: #f7f7f7 url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAFCAYAAAELY03+AAAABGdBTUEAALGPC/xhBQAAAFFJREFUCB1tTsERwCAIC9MyhnQMprUJPTw9mweGmACWmQFggGSSQCT02lLUCaayAuTubrcNeNr5TaRAZyhd6A1q2hnkQ8IPKl3G/tyPoHaMfwHyzSNHeemKDAAAAABJRU5ErkJggg==') no-repeat center right 20px;
	-moz-appearance: none;
	-webkit-appearance: none;
}

textarea {
	@extend %transit;
	width: 100%;
	outline: none;
	border: 1px solid #eee;
	border-radius: 0;
	display: block;
	padding: 12px 20px 3px;
	max-width: 100%;
}

@-webkit-keyframes autofill {
	to {
		color: #666;
		background: transparent;
	}
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active,
textarea:-webkit-autofill,
select:-webkit-autofill {
	-webkit-animation-name: autofill;
	-webkit-animation-fill-mode: both;
}
