@media all {
    body {
        color: #282f31 !important
    }

    span{
        font-size: 14px;
    }
    .results-top-block h1, .results-bottom-left h3, .results-bottom-right .orange {
        color: #c2a177!important;
    }
    .results-top-block h1 span{
        font-size: 28px;
        text-transform: uppercase;
    }
    .results-bottom-left h3 span{
        font-size: 20px;
    }

    .results-bottom-left h3{
        padding-bottom: 10px;
    }

    .results-bottom-right span, .results-bottom-right p{
        font-size: 20px;
    }

    .results-bottom-right li span{
        font-size: 14px;
    }
    .results-bottom-right .orange{
        padding-bottom: 15px;
        font-family: moderat;
    }
    .results-diagram {
        width: 100%;
        background-color: #282f31;
        display: inline-block;
        padding: 40px 40px;
    }

    .wm {
        width: 100%;
    }

    .diagram-item {
        background-color: #282f31;
        width: 33.3%;
        float: left;
    }

    .chart-text {
        letter-spacing: 5px;
        text-transform: uppercase;
    }

    .results-bottom-div {
        width: 40%;
        float: left;
    }

    .results-bottom-left {
        padding-right: 60px;
    }

    .results-bottom-right {
        margin-top: 45px;
        padding-left: 20px;
    }

    .results-bottom-right ul {
        color: #282f31;
    }

    footer{
        background-color: #c2a177;
        color: white;
        padding: 10px 10px 10px 60px;
    }

}
