@font-face{
    font-family: 'MaisonNeue-Bold';
    src: url('/wp-content/themes/brook-child/fonts/maison_neue_bold-webfont.ttf');
}
.results-page-content{
    padding-bottom: 40px;
    padding-top: 40px;
    line-height: 30px;
}
.results-page-content h1, .results-page-content h3{
    font-weight: bold;
    letter-spacing: 2px;
}
.results-diagram{
    width: 100%;
    background-color: #282f31;
    display: inline-block;
    padding: 60px 0;
}
.wm{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 10px;
}
.results-diagram-wrap{
    width: 90%;
    margin: 0 auto;
}
.diagram-item{
    background-color: #282f31;
    width: 25%;
    height: auto;
    float: left;
    margin-left: 6%;
}
.diagram-item .type-title text{
    transform: translateX(130px);
}

.diagram-item .title-text text{
    font-family: MaisonNeue, sans-serif;
    letter-spacing: 5px;
    text-transform: uppercase;
}

.diagram-item:nth-child(3) .title-text text{
    transform: translateX(53px);
}

.chart-text{
    font-family: MaisonNeue, sans-serif;
    letter-spacing: 5px;
    text-transform: uppercase;
}
.results-top-block{
    margin-bottom: 40px;
}
.results-top-block h1{
    text-transform: uppercase;
}
.results-bottom p{
    margin-bottom: 0;
}
.results-bottom{
    margin-top: 30px;
}
.results-bottom-div{
    width: 50%;
    float: left;
}
.results-bottom-left{
    padding-right: 60px;
}
.results-bottom-right{
    margin-top: 55px;
    padding-left: 60px;
}
.results-bottom-right ul{
    color:#282f31;
    margin-top: 0;
}
.download-pdf{
    font-size: 16px;
    float: right;
    color: #c2a177;
    font-weight: 600;
}
.download-pdf:hover, .download-pdf:active{
    color:#282f31;
}

.not-orange{
    margin-top: 30px;
    margin-bottom: 20px;
}
@media only screen and (max-width: 768px) {
    .results-bottom-div {
        width: 100%;
        float: left;
        padding-left: 10px;
    }
    .diagram-item {
        width: 100%;
        margin-bottom: 40px;
        margin-left: 0;
    }
    .results-bottom-right{
        margin-top: 40px;
    }
}
@media only screen and (max-width: 480px) {
    .results-top-block h1 {
        font-size: 45px;
    }
}