/*
Theme Name: Brook Child
Theme URI: http://brook.thememove.com/
Author: ThemeMove
Author URI: http://thememove.com/
Version: 1.0.0
Template: brook
Text Domain:  brook
Tags: editor-style, featured-images, microformats, post-formats, rtl-language-support, sticky-post, threaded-comments, translation-ready

Charcoal: #272727
Gold: #cca283
Grey:  #afb0b0
Off White: #fafafb 

*/

.light-logo-version .light-logo {
    max-width: 200px !important;
}

.header-09 .menu--primary a {
    font-weight: 400 !important;
    text-transform: uppercase !important;
    font-size: 0.85em !important;
    letter-spacing: 0.4em !important;
    line-height: 1.2 !important;    
}
.header-11 .menu--primary a {
    font-weight: 400 !important;
    text-transform: uppercase !important;
    font-size: 0.85em !important;
    letter-spacing: 0.4em !important;
    line-height: 1.2 !important;    
}

.desktop-menu .sm-simple .children, .desktop-menu .sm-simple .sub-menu {
    padding: 10px 0 10px !important;
    min-width: 10px !important;
}
.mpd-feature-link a{
color: #fff !important;
font-weight: 600 !important;
}
.mpd-feature-link a:hover {
color: #afb0b0 !important;
font-weight:700 !important;
}

/* Page */
.page-title-bar-02 .heading {
    font-weight: 800 !important;
    font-size: 60px !important;
    letter-spacing: .4em !important;
    color: #cca283 !important;
}

.mpd-slider-headline {
    font-family: inherit;
    font-size: 18px !important;
    letter-spacing: 0.2em !important;
    line-height: 1.2 !important;
}
.tm-popup-video.style-button-03 .video-play {
    display: block;
    width: 90px !important;
    height: 90px !important;
    margin: 0 auto 20px;
    border: 3px solid #fff;
    text-align: center;
    line-height: 88px;
    font-size: 32px;
    color: rgba(255,255,255, .97);
    border-radius: 50%;
    -webkit-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
}
.tm-popup-video.style-poster-02 .video-play {
    text-align: center !important;
    margin: 0 auto !important;
}
button, input[type="button"], input[type="reset"], input[type="submit"] {
    box-shadow: none !important;
}

.vc_separator .vc_sep_holder .vc_sep_line.vc_sep_line {
    border-top-color: #cca283 !important;
}

.single-post.single-blog-style-standard .page-content {
    padding-top: 190px !important;
}
.single-portfolio-style-left_details .page-content, .single-portfolio-style-left_details_wide .page-content, .single-portfolio-style-right_details .page-content, .single-portfolio-style-right_details_wide .page-content {
    padding-top: 190px !important;
}

/* BUttons */
.vc_btn3.vc_btn3-color-orange.v#top-menu>li:last-childc_btn3-style-outline {
    color: #cca283 !important;
    border-color: #cca283 !important;
    background-color: transparent;
}
.vc_btn3.vc_btn3-color-orange.vc_btn3-style-outline:focus, .vc_btn3.vc_btn3-color-orange.vc_btn3-style-outline:hover {
    color: #fff !important;
    border-color: #cca283 !important;
    background-color: #cca283 !important;
}
.mpd-button-underline a:hover {text-decoration: underline !important;}

.custom-button {
color: #fff;
border-color: #ff6340 !important;
margin-top: 0px !important;
margin-right: 10px !important;
margin-bottom: 5px !important;
margin-left: 10px !important;
padding-top: 0px !important;
padding-bottom: 0px !important;
}
.custom-button {
color: #fff;
border-color: #ff6340 !important;
margin-top: 0px !important;
margin-right: 20px !important;
margin-bottom: 5px !important;
margin-left: 20px !important;
padding-top: 0px !important;
padding-bottom: 0px !important;
}

/* Blog */
mark, blockquote:before, .growl-close:hover, .primary-color, .tm-accordion.style-01 .active .accordion-title, .tm-accordion.style-01 .accordion-title-wrapper:hover .accordion-title, .tm-accordion.style-02 .accordion-title:hover, .tm-button.style-solid.tm-button-primary, .tm-button.style-text.tm-button-primary:hover, .tm-button.style-text.tm-button-primary .button-icon, .tm-button.style-text-long-arrow.tm-button-primary, .tm-button.style-text-long-arrow .button-arrow, .tm-box-icon .tm-box-icon__btn .button-icon, .tm-box-icon .tm-box-icon__btn:hover, .tm-box-icon.style-01 .icon, .tm-box-icon.style-02 .icon, .tm-box-icon.style-03 .icon, .tm-box-icon.style-04 .icon, .tm-counter.style-01 .icon, .tm-counter.style-02 .icon, .tm-counter.style-03 .icon, .tm-counter.style-03 .number-wrap, .tm-counter.style-05 .icon, .tm-circle-progress-chart .chart-icon, .chart-legends li:hover, .tm-drop-cap.style-02 .drop-cap, .tm-product-banner-slider .tm-product-banner-btn, .tm-countdown.style-03 .second .number, .typed-text mark, .typed-text .typed-cursor, .typed-text-02 .typed-cursor, .tm-twitter.style-slider-quote .tweet-info:before, .tm-twitter.style-slider-quote .tweet-text a, .tm-twitter .tweet:before, .tm-info-boxes .box-icon, .tm-info-boxes .tm-button .button-icon, .tm-problem-solution .ps-label, .tm-instagram .instagram-user-name, .tm-mailchimp-form.style-01 .form-submit, .tm-mailchimp-form.style-02 .form-submit, .tm-grid-wrapper.filter-counter-style-01 .btn-filter.current, .tm-grid-wrapper.filter-counter-style-01 .btn-filter:hover, .tm-blog .post-title a:hover, .tm-blog .post-categories a:hover, .tm-blog.style-list .sticky .post-title, .tm-blog.style-grid-minimal .post-quote .post-quote-name, .tm-blog.style-grid-classic .post-quote-icon, .tm-blog.style-grid-metro .format-quote .post-content:before, .tm-blog.style-grid-sticky .format-quote .post-content:before, .tm-heading.highlight mark, .tm-heading.modern-02 .heading, .tm-heading.modern-04 .heading, .tm-popup-video.style-poster-04 .video-play, .tm-product.style-grid .woosw-btn.woosw-added, .tm-product.style-grid .wooscp-btn.wooscp-btn-added, .tm-pricing .feature-icon, .tm-pricing-rotate-box .tm-pricing-list li:before, .tm-portfolio.style-carousel-auto-wide .post-categories, .tm-portfolio.style-carousel-auto-wide .post-read-more a:hover, .tm-portfolio.style-carousel-auto-wide .post-read-more .button-icon, .tm-portfolio.style-metro-with-caption .post-wrapper:hover .post-title, .tm-portfolio-featured.style-01 .post-title a:hover, .tm-icon.style-01 .icon, .tm-list .marker, .tm-list .link:hover, .tm-list.style-modern-icon .marker, .tm-timeline.style-01 .year, .tm-testimonial.style-grid .testimonial-quote-icon, .tm-testimonial.style-carousel .testimonial-quote-icon, .tm-testimonial.style-carousel-02 .testimonial-quote-icon, .tm-testimonial.style-carousel-04 .testimonial-quote-icon, .tm-testimonial.style-carousel-free-mode .testimonial-quote-icon, .tm-testimonial.style-simple-slider .testimonial-quote-icon, .tm-mailchimp-form-popup .subscribe-open-popup-link, .mailchimp-form-popup-close:hover, .tm-mailchimp-form-box.style-01 .form-submit, .tm-social-networks .link:hover, .tm-social-networks.style-large-icons .link:hover, .tm-swiper .swiper-nav-button:hover, .tm-slider a:hover .heading, .woosw-area .woosw-inner .woosw-content .woosw-content-top .woosw-close:hover, .woosw-area .woosw-inner .woosw-content .woosw-content-bot .woosw-content-bot-inner .woosw-page a:hover, .woosw-continue:hover, .skin-primary .wpcf7-text.wpcf7-text, .skin-primary .wpcf7-textarea, .tm-menu .menu-price, .page-content .tm-custom-menu.style-1 .menu a:hover, .post-share a:hover, .post-share-toggle, .tagcloud a:hover, .single-post .post-meta .meta-icon, .single-post .post-meta .sl-icon, .single-post .post-categories a:hover, .single-post .entry-footer .post-share a:hover, .single-portfolio .portfolio-share a:hover, .tm-posts-widget .post-date:before, .page-sidebar .widget_pages .current-menu-item>a, .page-sidebar .widget_nav_menu .current-menu-item>a, .page-sidebar .insight-core-bmw .current-menu-item>a, .widget_recent_entries .post-date:before, .widget_search .search-submit, .widget_product_search .search-submit, body.search .page-main-content .search-form .search-submit, .page-sidebar-fixed .widget a:hover, .wpb-js-composer .vc_tta.vc_general.vc_tta-style-brook-01 .vc_tta-tab.vc_active>a, .wpb-js-composer .vc_tta.vc_general.vc_tta-style-brook-01 .vc_active .vc_tta-panel-heading, .wpb-js-composer .vc_tta.vc_general.vc_tta-style-brook-02 .vc_tta-tab:hover, .page-template-portfolio-fullscreen-type-hover-03 .page-social-networks a:hover {
    color: #cca283 !important;
}
blockquote { font-size: 18px !important; color: #afb0b0 !important; letter-spacing: 0.2em !important; }
.tm-blog.style-grid-simple .post-info { text-align: left !important; padding: 0 5px !important; }

//Changes