.tm-box-icon {
	@extend %clearfix;
	position: relative;

	.icon {
		@extend %transit;
		line-height: 1;
	}

	.image {
		margin-bottom: 35px;
	}

	.overlay {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	.content-wrap {
		height: 100%;
		position: relative;
		display: flex;
		flex-direction: column;
	}

	.tm-svg {
		line-height: 0;

		* {
			stroke: currentColor;
		}
	}

	.heading {
		margin-bottom: 0;
	}

	.tm-box-icon__btn {
		display: block;
		margin-top: 46px;
		padding-right: 25px;

		.button-icon {
			font-size: 12px;
			left: auto;
			right: auto;
			transform: none;
			margin-left: 15px;
		}
	}

	&.style-01 {
		&:hover {
			.content-wrap {
				transform: translateY(-5px);
				box-shadow: 0 2px 30px rgba(0, 0, 0, .1);

				&:before {
					border: 2px solid #eee;
				}
			}
		}

		.content-wrap {
			@extend %transit;
			position: relative;
			padding: 60px 35px 64px;
			background: #fff;

			&:before {
				@extend %transit;
				position: absolute;
				content: '';
				top: 10px;
				left: 10px;
				right: 10px;
				bottom: 10px;
				border: 1px solid #eee;
				opacity: 1;
				visibility: visible;
			}
		}

		.content {
			position: relative;
			z-index: 1;
		}

		.icon {
			position: relative;
			z-index: 1;
			font-size: 80px;
			margin-bottom: 22px;
			color: #222;
		}

		.tm-svg {
			padding: 10px 0 12px;
			width: 60px;
		}

		.heading {
			font-size: 18px;
			line-height: 1.38;
			margin-bottom: 18px;
		}
	}

	&.style-02 {
		&:hover {
			.image {
				transform: translateY(-5px);
			}
		}

		.image {
			@extend %transit;
		}

		.icon {
			font-size: 40px;
			margin-right: 20px;
			display: inline-block;
			flex-shrink: 0;
		}

		.content-inner {
			display: flex;
		}

		.content {
			flex-grow: 1;
		}

		.heading {
			font-size: 18px;
			line-height: 1.4;
			margin-bottom: 21px;
		}
	}

	&.style-03 {
		&:hover {
			.content-wrap {
				transform: translateY(-5px);
			}
		}

		.content-wrap {
			@extend %transit;
		}

		.content {
			position: relative;
			z-index: 1;
		}

		.icon {
			font-size: 70px;
			margin-bottom: 26px;
			color: #222;
		}

		.tm-svg {
			width: 54px;
		}

		.heading {
			font-size: 18px;
			line-height: 1.38;
			margin-bottom: 25px;
		}
	}

	&.style-04 {
		&:hover {
			.content-wrap {
				transform: translateY(-5px);
				box-shadow: 0 2px 30px rgba(0, 0, 0, .1);
			}
		}

		.content-wrap {
			@extend %transit;
			padding: 39px 35px 44px;
			background: #fff;
		}

		.content {
			position: relative;
			z-index: 1;
		}

		.image {
			margin-bottom: 31px;
		}

		.icon {
			font-size: 80px;
			margin-bottom: 22px;
			color: #222;
		}

		.tm-svg {
			width: 54px;
		}

		.heading {
			font-size: 18px;
			line-height: 1.39;
			margin-bottom: 17px;
		}

		.tm-box-icon__btn {
			margin-top: 39px;
		}
	}
}
