.vc_progress_bar {
	.vc_single_bar_wrapper {
		+ .vc_single_bar_wrapper {
			margin-top: 42px;
		}
	}

	.vc_single_bar_title {
		@extend %clearfix;
		margin-bottom: 13px;
		font-size: 14px;
		font-weight: 600;
		text-transform: uppercase;

		.vc_label_units {
			float: right;
		}
	}

	.vc_general {
		&.vc_single_bar {
			height: 5px;
			border-radius: 0;
			box-shadow: none;
			background-color: #f5f5f5;

			.vc_label {
				padding: 0;
			}

			.vc_bar {
				border-radius: inherit;
			}
		}
	}

	/*.vc_bar {
		&:after {
			position: absolute;
			top: 50%;
			right: -1px;
			width: 16px;
			height: 16px;
			transform: translate(0, -50%);
			background: inherit;
			content: '';
			border-radius: 50%;
		}
	}*/

	&.style-2 {
		.vc_single_bar_title {
			width: 100% !important;
		}
	}
}
