/* Begin Make footer always bottom of page */
@media only screen and (min-width: 1024px) {
	#footer-wrap {
		position: fixed;
		left: 0;
		bottom: 0;
	}

	.page-footer-parallax {
		&:not(.page-template-one-page-scroll) {
			height: 100%;

			.site {
				min-height: 100%;
				position: static;
			}

			.content-wrapper {
				position: relative;
				z-index: 3;
				background: inherit;
			}

			.page-footer-wrapper {
				position: fixed;
				bottom: 0;
				left: 0;
				right: 0;
				z-index: 1;
			}
		}
	}

	.page-footer-parallax {
		.site {
			background-color: inherit;
		}
	}
}

.page-footer-wrapper {
	&.overlay,
	&.fixed {
		position: fixed;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 2;
	}
}

.boxed {
	margin: 0 auto;
	max-width: 1200px;
	box-shadow: 0 0 30px rgba(0, 0, 0, .06);

	.content {
		overflow: hidden;
	}
}

.site {
	@extend %transit;
	overflow: hidden;
}

.page-sidebar,
.page-main-content {
	position: relative;
	min-height: 1px;
	padding-left: 15px;
	padding-right: 15px;
	width: 100%;
}
