#vimeography-gallery-2.vimeography-theme-timber .vimeography-thumbnail .vimeography-title { color: #e0e0e0; } 
#vimeography-gallery-2.vimeography-theme-timber .vimeography-thumbnail .vimeography-title:after { background: #ffffff; } 
.vimeography-theme-timber .vimeography-thumbnail .vimeography-title { display: block; } 
.vimeography-theme-timber .vimeography-thumbnail .vimeography-subtitle { display: block; } 
#vimeography-gallery-2.vimeography-theme-timber .vimeography-thumbnail .vimeography-subtitle { color: #e0e0e0; } 
#vimeography-gallery-2.vimeography-theme-timber .vue-simple-spinner { border-top-color: #2196f3 !important; } 
#vimeography-gallery-2.vimeography-theme-timber .vimeography-paging-icon svg { stroke: #000000 !important; } 
.vimeography-theme-timber .vimeography-lightbox .vimeography-title { color: #e0e0e0; } 
.vimeography-theme-timber .vimeography-lightbox .vimeography-description { color: #b5b5b5; } 
.vimeography-theme-timber .vimeography-lightbox a { color: #4cb5c2; } 
.vimeography-theme-timber .vimeography-lightbox .vimeography-modal-modern-touch { background-color: #000000; } 
#vimeography-gallery-2.vimeography-theme-timber .vimeography-thumbnail-container { grid-template-columns: repeat(auto-fit, minmax(500px, 1fr)); } 
#vimeography-gallery-2.vimeography-theme-timber .vimeography-thumbnail-container { grid-column-gap: 10px; } 
#vimeography-gallery-2.vimeography-theme-timber .vimeography-thumbnail-container { grid-row-gap: 10px; } 
