#vimeography-gallery-4.vimeography-theme-timber .vimeography-thumbnail .vimeography-title { color: #ffffff; } 
#vimeography-gallery-4.vimeography-theme-timber .vimeography-thumbnail .vimeography-title:after { background: #ffffff; } 
.vimeography-theme-timber .vimeography-thumbnail .vimeography-title { display: block; } 
.vimeography-theme-timber .vimeography-thumbnail .vimeography-subtitle { display: none; } 
#vimeography-gallery-4.vimeography-theme-timber .vimeography-thumbnail .vimeography-subtitle { color: #ffffff; } 
#vimeography-gallery-4.vimeography-theme-timber .vue-simple-spinner { border-top-color: #2196f3 !important; } 
#vimeography-gallery-4.vimeography-theme-timber .vimeography-paging-icon svg { stroke: #000000 !important; } 
.vimeography-theme-timber .vimeography-lightbox .vimeography-title { color: #292d33; } 
.vimeography-theme-timber .vimeography-lightbox .vimeography-description { color: #686d73; } 
.vimeography-theme-timber .vimeography-lightbox a { color: #4cb5c2; } 
.vimeography-theme-timber .vimeography-lightbox .vimeography-modal-modern-touch { background-color: #f4f4f4; } 
#vimeography-gallery-4.vimeography-theme-timber .vimeography-thumbnail-container { grid-template-columns: repeat(auto-fit, minmax(345px, 1fr)); } 
#vimeography-gallery-4.vimeography-theme-timber .vimeography-thumbnail-container { grid-column-gap: 0px; } 
#vimeography-gallery-4.vimeography-theme-timber .vimeography-thumbnail-container { grid-row-gap: 0px; } 
