.woosw-list table.woosw-content-items .woosw-content-item .woosw-content-item--remove span:before {
	@extend %FontAwesomeLightImportant;
	content: '\f00d' !important;
}

.wooscp-area .wooscp-inner .wooscp-table .wooscp-table-inner .wooscp-table-close {
	padding: 12px 15px;
}

.woosw-area.woosw-area {
	.woosw-inner {
		.woosw-content {
			max-width: 570px;

			.woosw-content-top {
				.woosw-close {
					@extend %transit2;

					&:before {
						@extend %FontAwesomeLightImportant;
						content: '\f00d' !important;
					}
				}
			}

			.woosw-content-mid table.woosw-content-items .woosw-content-item .woosw-content-item--remove {
				padding: 0 !important;

				> span {
					width: 30px !important;
					height: 30px !important;

					&:before {
						@extend %FontAwesomeLightImportant;
						content: '\f00d' !important;
					}
				}
			}
		}
	}

	.woosw-content {
		.button {
			height: 45px !important;
			line-height: 43px !important;
			padding: 0 20px;
		}
	}

	.woosw-continue {
		@extend %transit2;
	}
}

.woosw-list,
.woosw-area,
.wooscp-area {
	.woocommerce_loop_add_to_cart_wrap {
		&:before,
		&:after {
			display: none;
		}
	}
}

.woosw-content-item--add {
	min-width: 140px;
	margin-top: 5px;
}

.single-product {
	.woo-single-summary {
		.wishlist-btn,
		.compare-btn {
			float: left;
			margin-left: 10px;

			a {
				position: relative;
				display: block;
				width: 55px;
				height: 55px;
				line-height: 68px;
				border-radius: 6px;
				color: #ababab;
				font-size: 0 !important;
				padding: 0 !important;
				border: 1px solid #ededed;
				text-align: center;

				&:hover {
					color: #fff !important;
				}

				&:before {
					@extend %FontAwesomeRegularImportant;
					content: '\f004';
					font-size: 20px;
					margin: 0;
				}
			}
		}

		.woosw-btn {
			&:before {
				content: '\f388';
			}
		}

		.compare-btn {
			.wooscp-btn {
				&:before {
					content: '\f3f1';
				}
			}
		}

		.wishlist-btn .woosw-adding,
		.compare-btn .wooscp-btn-adding {
			&:before {
				animation: load-spin 1s linear infinite;
				content: '\f3f4';
			}
		}
	}
}
